%transition {
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

@keyframes flash {
    0% {
        background-color: #E66641;
    }
    25% {
        background-color: #D0502A;
    }
    50% {
        background-color: #BB4826;
    }
    75% {
        background-color: #D0502A;
    }
    100% {
        background-color: #E66641;
    }
}

@keyframes open_gitf_bowknot {
    0% {
        top: 0;
        left: 23px;
    }
    25% {
        top: -5px;
        left: 23px;
    }
    50% {
        top: -5px;
        left: 23px;
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        top: 20px;
        left: 10px;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

@keyframes close_gitf_bowknot {
    0% {
        top: 20px;
        left: 10px;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    25% {
        top: -5px;
        left: 23px;
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    50% {
        top: -5px;
        left: 23px;
    }
    100% {
        top: 0;
        left: 23px;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes open_gitf_cover {
    0% {
        top: 0;
        left: -3px;
    }
    25% {
        top: -5;
        left: -3px;
    }
    50% {
        top: -25px;
        left: -3px;
    }
    75% {
        top: -20px;
        left: -3px;
    }
    100% {
        top: 10px;
        left: 40px;
        -moz-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg);
    }
}

@keyframes close_gitf_cover {
    0% {
        top: 10px;
        left: 40px;
        -moz-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    25% {
        top: -20px;
        left: -3px;
    }
    50% {
        top: -25px;
        left: -3px;
    }
    75% {
        top: -5;
        left: -3px;
    }
    100% {
        top: 0;
        left: -3px;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes ball_open {
    0% {
        top: 0;
        left: 15px;
    }
    10% {
        top: -20px;
        left: 30px;
    }
    20% {
        top: -35px;
        left: 35px;
    }
    30% {
        top: -45px;
        left: 40px;
    }
    40% {
        top: -50px;
        left: 45px;
    }
    50% {
        top: -45px;
        left: 50px;
    }
    60% {
        top: -35px;
        left: 60px;
    }
    70% {
        top: -20px;
        left: 65px;
    }
    75% {
        top: 0px;
        left: 75px;
    }
    80% {
        top: 25px;
        left: 90px;
    }
    90% {
        top: 0px;
        left: 100px;
    }
    100% {
        top: 25px;
        left: 110px;
    }
}

@keyframes ball_close {
    100% {
        top: 0;
        left: 15px;
    }
    80% {
        top: -20px;
        left: 30px;
    }
    70% {
        top: -35px;
        left: 35px;
    }
    60% {
        top: -45px;
        left: 40px;
    }
    50% {
        top: -50px;
        left: 45px;
    }
    40% {
        top: -45px;
        left: 50px;
    }
    30% {
        top: -35px;
        left: 60px;
    }
    20% {
        top: -20px;
        left: 65px;
    }
    10% {
        top: 0px;
        left: 75px;
    }
    0% {
        top: 25px;
        left: 90px;
    }
}

@keyframes doll_open {
    0% {
        top: 0px;
        height: 50px;
    }
    50% {
        top: -40px;
        height: 70px;
    }
    100% {
        top: -50px;
        height: 70px;
    }
}

@keyframes doll_close {
    100% {
        top: 0px;
        height: 50px;
    }
    50% {
        top: -40px;
        height: 70px;
    }
    0% {
        top: -50px;
        height: 70px;
    }
}