@import 'sys';
.XmasCard_2 {
    background-color: $bg_color_2;
    .tree {
        left: 100px;
        width: 100px;
        position: relative;
        .tree_1,
        .tree_2,
        .tree_3 {
            position: absolute;
            border-style: solid;
            border-color: transparent transparent rgb(4, 75, 4) transparent;
            display: inline-block;
        }
        @for $i from 1 through 3 {
            .tree_#{($i)} {
                top: $i*40px;
                border-width: 0 ($i*10)+100px ($i*15)+100px ($i*10)+100px;
                left: ($k - $i*10)*1px;
                z-index: $z-index - $i;
                border-color: transparent transparent rgb(4, (75+$i*5), 4) transparent;
            }
        }
        .tree_root {
            position: absolute;
            height: 100px;
            width: 80px;
            background-color: #4D3900;
            top: 250px;
            left: 100px;
            z-index: 1;
        }
        .border {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 30px;
            position: absolute;
            z-index: 0;
        }
        @for $i from 1 through 3 {
            .border_#{($i)} {
                //background-color: #E66641;
                top: ($i*40)+($i*15)+100px;
                left: ($k - $i*12)*1px;
                animation: flash 0.75s;
                -moz-animation: flash 0.75s infinite;
                -webkit-animation: flash 0.75s infinite;
                -o-animation: flash 0.75s infinite;
            }
        }
        @for $i from 4 through 6 {
            .border_#{($i)} {
                //background-color: #E66641;
                top: (($i - 3)*40)+(($i - 3)*15)+100px;
                left: $i*10+200px;
                animation: flash 0.75s;
                -moz-animation: flash 0.75s infinite;
                -webkit-animation: flash 0.75s infinite;
                -o-animation: flash 0.75s infinite;
            }
        }
        .ribbon_1 {
            border-bottom: 3px solid #FFC107;
            top: 25px;
            left: 75px;
            width: 130px;
        }
        .ribbon_2 {
            border-bottom: 3px solid rgb(154, 240, 248);
            top: 80px;
            left: 72px;
            width: 140px;
        }
        .ribbon_3 {
            border-bottom: 3px solid #E66641;
            top: 125px;
            left: 65px;
            width: 150px;
        }
        .ribbon {
            position: absolute;
            height: 130px;
            border-radius: 10000px;
            z-index: 99;
        }
        .star {
            position: absolute;
            background: url('../Images/star.png');
            height: 75px;
            width: 75px;
            top: 10px;
            left: 100px;
            z-index: 100;
        }
    }
    .gift {
        @for $i from 1 through 3 {
            .gift_#{($i)} {
                position: relative;
                @if $i==1 {
                    top: 320px;
                    z-index: 1;
                }
                @else if $i==2 {
                    top: 280px;
                    z-index: 0;
                }
                @else if $i==3 {
                    top: 300px;
                    left: 300px !important;
                }
                $sum:(($i - 1)*100)+55;
                left: ($sum)*1px;
                .box {
                    position: absolute;
                    height: 50px;
                    width: 60px;
                    background-color: rgb(143, 23, 33);
                    z-index: 2;
                }
                .cover {
                    position: absolute;
                    top: 0;
                    left: -3px;
                    height: 15px;
                    width: 65px;
                    background-color: rgb(93, 15, 22);
                    z-index: 3;
                }
                .cover_st {
                    top: 10px;
                    left: 40px;
                    -moz-transform: rotate(35deg);
                    -webkit-transform: rotate(35deg);
                    -o-transform: rotate(35deg);
                    -ms-transform: rotate(35deg);
                    transform: rotate(35deg);
                }
                .cover_close {
                    animation: close_gitf_cover 0.5s linear 1s forwards;
                    -moz-animation: close_gitf_cover 0.5s linear 1s forwards;
                    -webkit-animation: close_gitf_cover 0.5s linear 1s forwards;
                    -o-animation: close_gitf_cover 0.5s linear 1s forwards;
                }
                .cover_open {
                    animation: open_gitf_cover 0.5s linear 1s forwards;
                    -moz-animation: open_gitf_cover 0.5s linear 1s forwards;
                    -webkit-animation: open_gitf_cover 0.5s linear 1s forwards;
                    -o-animation: open_gitf_cover 0.5s linear 1s forwards;
                }
                .bowknot {
                    position: absolute;
                    top: 0;
                    left: 23px;
                    height: 50px;
                    width: 10px;
                    background-color: $writh;
                    z-index: 99;
                }
                .bowknot_st {
                    top: 20px;
                    left: 10px;
                    -moz-transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
                .bowknot_open {
                    animation: open_gitf_bowknot 0.75s linear forwards;
                    -moz-animation: open_gitf_bowknot 0.75s linear forwards;
                    -webkit-animation: open_gitf_bowknot 0.75s linear forwards;
                    -o-animation: open_gitf_bowknot 0.75s linear forwards;
                }
                .bowknot_close {
                    animation: close_gitf_bowknot 0.75s linear 1.5s forwards;
                    -moz-animation: close_gitf_bowknot 0.75s linear 1.5s forwards;
                    -webkit-animation: close_gitf_bowknot 0.75s linear 1.5s forwards;
                    -o-animation: close_gitf_bowknot 0.75s linear 1.5s forwards;
                }
                .ball {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    background-color: rgb(154, 240, 248);
                    border-radius: 30px;
                    top: 0;
                    left: 0px;
                    z-index: 1;
                    box-shadow: 2px 3px rgb(96, 179, 187);
                }
                .ball_open {
                    animation: ball_open 0.75s linear forwards;
                    -moz-animation: ball_open 0.75s linear 1.5s forwards;
                    -webkit-animation: ball_open 0.75s linear 1.5s forwards;
                    -o-animation: ball_open 0.75s linear 1.5s forwards;
                }
                .ball_close {
                    animation: ball_close 0.5s linear forwards;
                    -moz-animation: ball_close 0.5s linear forwards;
                    -webkit-animation: ball_close 0.5s linear forwards;
                    -o-animation: ball_close 0.5s linear forwards;
                }
                .doll {
                    // display: none;
                    background: url('../Images/rabbit.png');
                    width: 50px; //   height: 75px;
                    position: absolute;
                }
                .doll_st {
                    top: -50px;
                    height: 70px;
                }
                .doll_open {
                    animation: doll_open 0.5s linear 1.5s forwards;
                    -moz-animation: doll_open 0.5s linear 1.5s forwards;
                    -webkit-animation: doll_open 0.5s linear 1.5s forwards;
                    -o-animation: doll_open 0.5s linear 1.5s forwards;
                }
                .doll_close {
                    animation: doll_close 0.5s linear 0.5s forwards;
                    -moz-animation: doll_close 0.5s linear 0.5s forwards;
                    -webkit-animation: doll_close 0.5s linear 0.5s forwards;
                    -o-animation: doll_close 0.5s linear 0.5s forwards;
                }
            }
        }
        .tsmc_bor {
            position: absolute;
            background-color: #F44336;
            padding: 11px 5px;
            border-radius: 30px;
            left: 5px;
            z-index: 1;
            color: $writh;
            font-weight: 300;
            -moz-box-shadow: 0px 3px rgb(162, 42, 33);
            -webkit-box-shadow: 0px 3px rgb(162, 42, 33);
            box-shadow: 0px 3px rgb(162, 42, 33);
        }
        .tsmc_bor_st {
            top: -50px;
        }
        .tsmc_bor_open {
            animation: tsmc_open 0.5s linear 1.5s forwards;
            -moz-animation: tsmc_open 0.5s linear 1.5s forwards;
            -webkit-animation: tsmc_open 0.5s linear 1.5s forwards;
            -o-animation: tsmc_open 0.5s linear 1.5s forwards;
        }
        .tsmc_bor_close {
            animation: tsmc_close 0.5s linear 0.5s forwards;
            -moz-animation: tsmc_close 0.5s linear 0.5s forwards;
            -webkit-animation: tsmc_close 0.5s linear 0.5s forwards;
            -o-animation: tsmc_close 0.5s linear 0.5s forwards;
        }
    }
}