@import 'sys';
.XmasCard_1 {
    // background-color: $bg_color_1;
    // background: -webkit-linear-gradient(#8e1d1d, #f7a1a1);
    background: url('../Images/Xmas1_bg.png');
    .Dec {
        padding: 10px 0;
        width: 100%;
        height: 50px;
        position: absolute;
        color: $writh;
        background: url('../Images/Dec.png') 10px no-repeat;
        span {
            font-size: 2em;
        } // border-bottom: 3px double $writh;
    }
    ul {
        top: 50px;
        position: absolute;
        list-style: none;
        li {
            cursor: pointer !important;
            display: inline-block;
            text-align: center;
            line-height: 2;
            color: #343434; //  font-weight: 500;
            span {
                font-size: 1.5em;
                font-weight: 500;
            }
        }
        @keyframes Surprise {
            0% {
                background: transparent; //   color: $writh;
                position: absolute;
                top: 291px;
                left: 654px;
                color: transparent;
            }
            50% {
                position: absolute;
                top: -20px;
                left: 150px;
                width: 510px;
                height: 310px;
                color: transparent;
            }
            100% {
                position: absolute;
                top: -25px;
                left: 150px;
                width: 500px;
                height: 300px;
                background: #fff url('../Images/gift/gift_25.png') 3px no-repeat;
                color: transparent;
            }
        }
        @for $i from 1 through 24 {
            .day_rotateY {
                &:nth-child(#{($i)}) {
                    color: transparent;
                    border-color: #565656;
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                    background: #565656 url('../Images/gift/gift_#{($i)}.png') 3px no-repeat;
                }
            }
            .day_rotateY {
                &:nth-child(25) {
                    animation: Surprise 0.5s linear forwards;
                    -moz-animation: Surprise 0.5s linear forwards;
                    -webkit-animation: Surprise 0.5s linear forwards;
                    -o-animation: Surprise 0.5s linear forwards;
                }
            }
        }
        .day {
            position: relative;
            width: 55px;
            height: 55px;
            border: 1px solid $writh;
            margin: 42px 31px 0px 40px;
            ;
            box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
            @extend %transition;
            &:nth-child(25) {
                color: #343434;
                background: transparent;
                position: absolute;
                top: 291px;
                left: 654px;
                position: absolute;
            }
            &:nth-child(5) {
                margin-right: 260px;
            }
        }
    }
}