/* line 1, ../sass/_function.scss */
.XmasCard_1 ul .day {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

/* line 1, ../sass/_function.scss */
.XmasCard_1 ul .day {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

/* line 2, ../sass/_Xmas_2.scss */
.XmasCard_2 {
  background-color: #ADD8E6;
}
/* line 4, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree {
  left: 100px;
  width: 100px;
  position: relative;
}
/* line 8, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .tree_1,
.XmasCard_2 .tree .tree_2,
.XmasCard_2 .tree .tree_3 {
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #044b04 transparent;
  display: inline-block;
}
/* line 17, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .tree_1 {
  top: 40px;
  border-width: 0 110px 115px 110px;
  left: 30px;
  z-index: 4;
  border-color: transparent transparent #045004 transparent;
}
/* line 17, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .tree_2 {
  top: 80px;
  border-width: 0 120px 130px 120px;
  left: 20px;
  z-index: 3;
  border-color: transparent transparent #045504 transparent;
}
/* line 17, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .tree_3 {
  top: 120px;
  border-width: 0 130px 145px 130px;
  left: 10px;
  z-index: 2;
  border-color: transparent transparent #045a04 transparent;
}
/* line 25, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .tree_root {
  position: absolute;
  height: 100px;
  width: 80px;
  background-color: #4D3900;
  top: 250px;
  left: 100px;
  z-index: 1;
}
/* line 34, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  position: absolute;
  z-index: 99;
}
/* line 43, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_1 {
  background-color: #E66641;
  top: 155px;
  left: 28px;
}
/* line 43, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_2 {
  background-color: #E66641;
  top: 210px;
  left: 16px;
}
/* line 43, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_3 {
  background-color: #E66641;
  top: 265px;
  left: 4px;
}
/* line 50, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_4 {
  background-color: #F5B73D;
  top: 155px;
  left: 240px;
}
/* line 50, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_5 {
  background-color: #F5B73D;
  top: 210px;
  left: 250px;
}
/* line 50, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .border_6 {
  background-color: #F5B73D;
  top: 265px;
  left: 260px;
}
/* line 56, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .ribbon_1 {
  border-bottom: 3px solid #FFC107;
  top: 25px;
  left: 75px;
  width: 130px;
}
/* line 62, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .ribbon_2 {
  border-bottom: 3px solid #9af0f8;
  top: 80px;
  left: 72px;
  width: 140px;
}
/* line 68, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .ribbon_3 {
  border-bottom: 3px solid #E66641;
  top: 125px;
  left: 65px;
  width: 150px;
}
/* line 74, ../sass/_Xmas_2.scss */
.XmasCard_2 .tree .ribbon {
  position: absolute;
  height: 130px;
  border-radius: 10000px;
  z-index: 99;
}
/* line 83, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_1 {
  position: relative;
  top: 320px;
  z-index: 1;
  left: 55px;
}
/* line 98, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_1 .box {
  position: absolute;
  height: 50px;
  width: 60px;
  background-color: #8f1721;
  z-index: 1;
}
/* line 106, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_1 .cover {
  position: absolute;
  top: 0;
  left: -3px;
  height: 15px;
  width: 65px;
  background-color: #5d0f16;
  z-index: 2;
}
/* line 115, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_1 .bowknot {
  position: absolute;
  top: 0;
  left: 23px;
  height: 50px;
  width: 10px;
  background-color: #fff;
  z-index: 99;
}
/* line 83, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_2 {
  position: relative;
  top: 280px;
  z-index: 0;
  left: 155px;
}
/* line 98, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_2 .box {
  position: absolute;
  height: 50px;
  width: 60px;
  background-color: #8f1721;
  z-index: 1;
}
/* line 106, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_2 .cover {
  position: absolute;
  top: 0;
  left: -3px;
  height: 15px;
  width: 65px;
  background-color: #5d0f16;
  z-index: 2;
}
/* line 115, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_2 .bowknot {
  position: absolute;
  top: 0;
  left: 23px;
  height: 50px;
  width: 10px;
  background-color: #fff;
  z-index: 99;
}
/* line 83, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_3 {
  position: relative;
  top: 300px;
  left: 255px;
}
/* line 98, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_3 .box {
  position: absolute;
  height: 50px;
  width: 60px;
  background-color: #8f1721;
  z-index: 1;
}
/* line 106, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_3 .cover {
  position: absolute;
  top: 0;
  left: -3px;
  height: 15px;
  width: 65px;
  background-color: #5d0f16;
  z-index: 2;
}
/* line 115, ../sass/_Xmas_2.scss */
.XmasCard_2 .gift .gift_3 .bowknot {
  position: absolute;
  top: 0;
  left: 23px;
  height: 50px;
  width: 10px;
  background-color: #fff;
  z-index: 99;
}

/* line 1, ../sass/_function.scss */
.XmasCard_1 ul .day {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

/* line 2, ../sass/_Xmas_1.scss */
.XmasCard_1 {
  background-color: #c36c6c;
}
/* line 4, ../sass/_Xmas_1.scss */
.XmasCard_1 ul {
  list-style: none;
}
/* line 6, ../sass/_Xmas_1.scss */
.XmasCard_1 ul li {
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  line-height: 2;
  color: #fff;
}
/* line 12, ../sass/_Xmas_1.scss */
.XmasCard_1 ul li span {
  font-size: 1.5em;
  font-weight: 300;
}
@keyframes Surprise {
  0% {
    background: transparent;
    color: #fff;
    position: absolute;
    top: 306px;
    left: 375px;
  }
  50% {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 510px;
    height: 310px;
  }
  100% {
    position: absolute;
    top: 35px;
    left: 150px;
    width: 500px;
    height: 300px;
    background: #fff url("../Images/gift/gift_25.png") 3px no-repeat;
  }
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(1) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_1.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(2) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_2.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(3) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_3.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(4) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_4.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(5) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_5.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(6) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_6.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(7) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_7.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(8) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_8.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(9) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_9.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(10) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_10.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(11) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_11.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(12) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_12.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(13) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_13.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(14) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_14.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(15) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_15.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(16) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_16.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(17) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_17.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(18) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_18.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(19) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_19.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(20) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_20.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(21) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_21.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(22) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_22.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(23) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_23.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 43, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(24) {
  color: transparent;
  border-color: #565656;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #565656 url("../Images/gift/gift_24.png") 3px no-repeat;
}
/* line 53, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day_rotateY:nth-child(25) {
  animation: Surprise 0.5s linear forwards;
  -moz-animation: Surprise 0.5s linear forwards;
  -webkit-animation: Surprise 0.5s linear forwards;
  -o-animation: Surprise 0.5s linear forwards;
}
/* line 61, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day {
  position: relative;
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  margin: 20px 47px 20px 0;
  border-radius: 6px;
  box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
}
/* line 70, ../sass/_Xmas_1.scss */
.XmasCard_1 ul .day:nth-child(25) {
  background: transparent;
  color: #fff;
  position: absolute;
  top: 292px;
  left: 370px;
  position: absolute;
}

/* line 4, ../sass/Xmax.scss */
.Xmas {
  position: relative;
  height: 400px;
  width: 800px;
}

/* line 10, ../sass/Xmax.scss */
img {
  display: block;
}
